<% if flash[:alert] %>
  <br />
  <br />
  <div class="alert"><%= flash[:alert] %></div>
<% end %>
<% if flash[:notice] %>
  <br />
  <br />
  <div class="notice"><%= flash[:notice] %></div>
<% end %>